/* Definindo a paleta de cores */
:root {
    --cor-primaria: #007bff;
    --cor-secundaria: #6c757d;
    --cor-fundo: #f8f9fa;
  }
  
  /* Estilos básicos de página */
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo);
  }
  
  /* Cabeçalho */
  header {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Navegação */
  nav {
    background-color: var(--cor-secundaria);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
#container{

  display: flex;
    justify-content: center;
    align-items: center;


}


  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Formulário de cadastro */
  form {
    
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type=text], form input[type=number] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0069d9;
  }
  
  /* Tabela de produtos */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: var(--cor-secundaria);
    color: #fff;
  }
  
  table td {
    background-color: #fff;
  }
  
  /* Rodapé */
  footer {
    background-color: var(--cor-secundaria);
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
#dados_fiscais{

    width:90%;
    height: 100px;
}